Lightning_Laplace/

~$llection_of_Laplace_experiments.docx
'~$llection_of_Laplace_experiments.docx'
~WRL2586.tmp
'~WRL2586.tmp'
*.tmp
~.*

*.toc
*.aux
*.gz
*.log
*.bbl
*.blg

*.sty
scicomp.sty
scicompframe.sty
401_project/Presentaition/scicomp.sty
'scicomp.sty'